
body {
	padding-top: 40px
}
.calculator {
	margin-bottom: 20px;

}
.calculator input {
	margin-bottom: 10px;
}


.calculator input {
	margin-bottom: 10px;
}

.calculator .remove-button {
	margin-top: 10px;
}
.calculator .buttons {
	margin-left: 0px;
	margin-right: 0px;
}
.calculator .buttons div {
	padding-left: 2px;
	padding-right: 2px;
}

.enter-something-div{
padding-top: 15px;
}
.enter-something-div button, .enter-something-div input{
	margin-bottom: 10px;
}