 @import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
html, body, ul, li, h1, h2, h3, h4, h5, h6, img, p {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
body {
	background-color: #3e4b57;
	padding-top: 40px
}
ul {
	list-style: none;
	display: block;
	margin-bottom: 30px;
	margin-left: 13px;
	margin-top:15px;
	
}
li {
	float: left;
	margin-left: 15px;
	display:block;
	margin-bottom: 15px;
}
.main-body {
	width: 600px;
	height: 840px;
	margin: 0 auto;
	background-image: url(main-body.png);
	background-repeat: no-repeat;
	padding-top: 20px;
}
.main-body span {
	display: block;
	color: #3e4b57;
	font-family: Arial, sans-serif, Gotham, "Helvetica Neue", Helvetica;
	text-align: center;
	text-transform: uppercase;
	font-size: 42px;
}
.input-div {
	margin: 30px auto;
	
	color: #C7C7C7;
	width: 95%;
	height:auto;
	text-align: center;
}
.input-div input[type="text"] {
	background-color: #3e4b57;
	width: 100%;
	border-radius: 10px;
	text-align: right;
	padding: 0 20px;
	box-sizing: border-box;
	color: #e6edf4;
	display: block;
	margin: 0 autot;
	border: none;
	height: 130px;
	font-size: 58px;
}
button {
	width: 125px;
	height: 125px;
	border-radius:4px;
	background-color: #3e4b57;
	color:  #e6edf4;
	border:none;
	font-size: 52px;
	text-transform:uppercase;
}
