@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
html, body, ul, li, h1, h2, h3, h4, h5, h6, img, p {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
body {
	background-color: #3e4b57;
	padding-top: 40px
}
.align-to-center{
	text-align: center;
	text-transform: uppercase;
	
}

.align-to-center span{
	color: #696969;
	font-size: 1.5em;
}
.container input {
	color: #696969;
	border: none;
	text-align: right;
	background-color: #cdcdcd;
	padding: 8px;
	font-size: 2em;
	width: 96%;
	margin: 5px 0;
	border-radius: 3px;
}

.calc-button {
	border: none;
	width: 23%;
	height: 2.5em;
	color: #696969;
	background-color: #cdcdcd;
	font-size: 1.7em;
	margin: 2px 0;
	border-radius: 3px;
}
.add-calc{
	width: 96%;
	border: none;
	text-transform: uppercase;
	margin: 5px 0;
	color: #696969;
	font-size: 1.3em;
	background-color: #cdcdcd;
	border-radius: 3px;
}
